.body{
  margin: 30px;
}

.quantity {
  position: relative;
}


input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

.plus-minus-input {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.plus-minus-input .input-group-button .circle {
  border-radius: 50%;
  padding: 0.25em 0.8em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.tweet-box {
  font-size: 18px;
  padding: 10px;
  position: relative;
}
.tweet-input {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  padding: 10px 12px;
  height: 100px;
  outline: none;
  width: 100%;
  resize: none;
}
.input-style {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  padding: 10px 12px;
  outline: none;
  width: 70%;
  resize: none;
}
span {
  float: right;
  padding: 18px 14px;
}
.warning {
  color: #a76c00;
}
.danger {
  color: #800000;
}
.button-submit {
  background-color: #ccc;
  border: 1px solid #eee;
  border-radius: 10px;
  color: #fefefe;
  font-size: 18px;
  float: right;
  margin-top: 10px;
  padding: 10px 25px;
}
button:hover {
  background-color: rgb(195, 216, 255);
}
button.active {
  background-color: #008cff;
  cursor: pointer;
}


.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

#floating-button{
width: 55px;
height: 55px;
border-radius: 50%;
background: #008cff;
position: fixed;
bottom: 30px;
right: 30px;
cursor: pointer;
box-shadow: 0px 2px 5px #666;
}

.plus{
color: white;
position: absolute;
top: 0;
display: block;
bottom: 0;
left: 0;
right: 0;
text-align: center;
padding: 0;
margin: 0;
line-height: 55px;
font-size: 38px;
font-family: 'Roboto';
font-weight: 300;
animation: plus-out 0.3s;
transition: all 0.3s;
}
.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;

/* Position the tooltip */
position: absolute;
z-index: 1;
top: -5px;
right: 105%;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}

.dark-modal .modal-content {
background-color: #292b2c;
color: white;
}
.dark-modal .close {
color: white;
}
.light-blue-backdrop {
background-color: #5cb3fd;
}

.error-message {
color: #cc0033;
display: inline-block;
font-size: 12px;
line-height: 15px;
margin: 2px 0 10px;

}

.error
{
border:1px solid red;

}
.error::placeholder{
color:rgb(247, 195, 195);
}

.valid {
color: green
}

.pending{
color: orange
}

.invalid{
color: red
}










